.nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.link {
  padding: 0.5rem 1rem;
  background-color: #007acc;
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
}

.link:hover {
  background-color: #005f99;
}