.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  position: relative;
  width: 100%;
}


.list {
  display: flex;
  list-style: none;
  padding-left: 0;
  justify-content: center; 
}

.list li {
  margin: 0 1rem;
}

.link {
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}

.link:hover {
  color: #007BFF; 
  cursor: pointer;
}


@media (max-width: 768px) {
  .list {
    display: none; 
    flex-direction: column;
    text-align: center;
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 60px; 
    left: 0;
    z-index: 1000; 
  }

  .showMenu {
    display: block; 
  }
}



